.btnform{
    color: #fff;
    padding: 10px 15px;
    font-weight: normal;
    text-align: left;
    font-size: 1rem;
    line-height: 1.5;
    cursor: pointer;
    border-radius: 5px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: fit-content;
    i{
        display: inline-block;
        text-align: left;
        font-size: 16px;
        padding-top: 2px;
        padding-right: 10px;
    }
    span{
        padding-left: 10px;
        display: inline-block;
        text-align: center;
        border-left: 1px solid rgba(0,0,0,0.2);
    }
}